{% extends "network/layout.html" %}{% load static %} {% block body %}
<div id="all-post">
  <div class="header">
    <h2>All Posts</h2>
  </div>

  <div class="posts">
    {% if user.is_authenticated %}
    <h3>New Post</h3>
    <br />
    <form action="{% url 'post' %}" method="POST">
      {% csrf_token %} {{ post }} <br /><br />
      <input type="submit" value="Add your post" />
    </form>

    <button id="followingButtons">Click</button>

    {% else %} {% endif %} {% for post in posts %}
    <div class="post">
      <p>{{ post.poster }}</p>
      <p>{{ post.content }}</p>
      <p>{{ post.creation_date}}</p>
    </div>
    {% endfor %}
  </div>
</div>

<div id="profile-view">
  <div class="user">
    <h2 id="profile">user : {{ profile.username}}</h2>
  </div>

  <div id="profile-details" class="profile">
    <ul>
      <li>Name: {{ profile.first_name}} {{ profile.last_name }}</li>
      <li>Account created : {{ profile.date_joined }}</li>

      <li>Number of followers: {{ follower }}</li>
      <li>Following: {{ followed }}</li>
      <li>Is it currently following : {{ isFollowing}}</li>
      <li>Is it own profile : {{ isOwnProfile}}</li>
    </ul>
  </div>

  {% comment %}
  <div id="follow-buttons">
    {% csrf_token %}
    <button id="followingButtons">Click</button>

    <div id="follow-button">
      <form action="{% url 'follow' profile.username %}" method="POST">
        {% csrf_token %}
        <button name="add" class="btn btn-primary" placeholder="Follow">
          Follow
        </button>
        <input type="hidden" name="viewer" value="{{ user.username }}" />
      </form>
      <form action="{% url 'unfollow' profile.username %}" method="POST">
        {% csrf_token %}
        <button name="add" class="btn btn-primary" placeholder="Unfollow">
          Unfollow
        </button>
        <input type="hidden" name="viewer" value="{{ user.username }}" />
      </form>
    </div>
    {% endcomment %}

    <div id="profile-post" class="posts">
      {% for post in posts %}
      <div class="post">
        <p>{{ post.poster }}</p>
        <p>{{ post.content }}</p>
        <p>{{ post.creation_date}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
</div>

{% block script %}
<script src="{% static 'network/profile.js' %}"></script>
{% endblock %}
