{% extends "network/layout.html" %}{% load static %} {% block body %}
<div id="all-post">
  <!-- Title of the Index page -->
  <div class="header">
    <h1>All Posts</h1>
  </div>

  <!-- Section to display form to create new post if viewer is authenticated -->
  <div class="posts">
    {% if user.is_authenticated %}
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3>New Post</h3>
        </div>

        <!-- Form linked to BE to save new post -->
        <form action="{% url 'post' %}" method="POST" class="card-title">
          {% csrf_token %}
          <div class="post-form">{{ post }}</div>
          <div class="card-title">
            <input type="submit" value="Post" class="btn btn-primary" />
          </div>
        </form>
      </div>
    </div>

    <!-- Section to display all recent posts -->
    {% else %} {% endif %} {% for post in page_obj %}
    <div class="post card">
      <div class="card-body">
        <p>
          <a
            class="post-poster card-title"
            href="{% url 'profile' post.poster.username %}"
          >
            {{ post.poster }}</a
          >
        </p>
        <p class="post-body card-text">{{ post.content }}</p>
        <p class="post-creation-date card-text">
          <small class="text-muted">{{ post.creation_date}}</small>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div>
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
            >previous</a
          >
        </li>
        {% endif %} {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}"
            >next</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
