{% extends "network/layout.html" %} {% block body %}
<div class="header">
  <h2>All Posts</h2>
</div>

<div class="posts">
  {% if user.is_authenticated %}
  <h3>New Post</h3>
  <br />
  <form action="{% url 'post' %}" method="POST">
    {% csrf_token %} {{ post }} <br /><br />
    <input type="submit" value="Add your post" />
  </form>

  {% else %} {% endif %} {% for post in posts %}
  <div class="post">
    <p>{{ post.poster }}</p>
    <p>{{ post.content }}</p>
    <p>{{ post.creation_date}}</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
