{% extends "network/layout.html" %}{% load static %} {% block body %}

<div id="user">
  <h2 id="profile">user : <span id="poster">{{poster}}</span></h2>

  <!-- Section including title of the page and the details of the profile -->
  <div id="profile-view"></div>

  <!-- Section to show follow/unfollow buttons depending on the logic dealt by BE -->
  <div id="profile-follow"></div>

  <!-- List of all posts of the profile -->
  <div id="profile-posts"></div>

  {% endblock %} {% block script %}
  <script src="{% static 'network/profile.js' %}"></script>
  {% endblock %}
</div>
