{% extends "network/layout.html" %} {% block body %}
<div class="user">
  <h2>user : {{ poster.username}}</h2>
</div>

<div class="profile_details">
  <ul>
    <li>Name: {{ profile.first_name}} {{ profile.last_name }}</li>
    <li>Account created : {{ profile.date_joined }}</li>

    <li>Number of followers: {{ follower }}</li>
    <li>Following: {{ followed }}</li>
    <li>Is it currently following : {{ isFollowing}}</li>
    <li>Is it own profile : {{ isOwnProfile}}</li>
  </ul>

  <div id="follow-button">
    <form action="{% url 'follow' profile %}" method="POST">
      {% csrf_token %}
      <button name="add" class="btn btn-primary" placeholder="Follow">
        Follow
      </button>
      <input type="hidden" name="viewer" value="{{ user.username }}" />
    </form>
    <form action="{% url 'unfollow' profile %}" method="POST">
      {% csrf_token %}
      <button name="add" class="btn btn-primary" placeholder="Unfollow">
        Unfollow
      </button>
      <input type="hidden" name="viewer" value="{{ user.username }}" />
    </form>
  </div>

  <div class="posts">
    {% for post in posts %}
    <div class="post">
      <p>{{ post.poster }}</p>
      <p>{{ post.content }}</p>
      <p>{{ post.creation_date}}</p>
    </div>
    {% endfor %}
  </div>

  {% endblock %}
</div>
