* { box-sizing: border-box; }

body {
    padding: 10px;
}

#all-post{
    padding: 20px;
}

#user {
    padding: 20px;
}

.post-form {
    width: 100%;
}

textarea {
    width: 100%;
    border-color: silver;
    border-radius: 5px;
}

.card {
    margin: 10px 0;
}

a.post-poster {
    color: black;
    font-weight: 500;

}

.follow-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow-details {
    display: flex;
    flex-grow: 1;
}

.badge{
    vertical-align: baseline;
    font-size: 100%;
    padding: 0%;
    line-height: normal;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.pagination-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap:20px;
}